<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMaterialService" />
                <binding name="BasicHttpBinding_IUsuarioService" />
                <binding name="BasicHttpBinding_IPrestamoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1594/Materiales/MaterialService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaterialService"
                contract="MaterialesWS.IMaterialService" name="BasicHttpBinding_IMaterialService" />
            <endpoint address="http://localhost:1594/Seguridad/UsuarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService"
                contract="UsuarioWS.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
            <endpoint address="http://localhost:1594/Prestamos/PrestamoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrestamoService"
                contract="PrestamoWS.IPrestamoService" name="BasicHttpBinding_IPrestamoService" />
        </client>
    </system.serviceModel>
</configuration>