<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMaestroService" />
                <binding name="BasicHttpBinding_IMaterialService" />
                <binding name="BasicHttpBinding_IPersonaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1594/Maestros/MaestroService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaestroService"
                contract="MaestroService.IMaestroService" name="BasicHttpBinding_IMaestroService" />
            <endpoint address="http://localhost:1594/Materiales/MaterialService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaterialService"
                contract="MaterialService.IMaterialService" name="BasicHttpBinding_IMaterialService" />
            <endpoint address="http://localhost:1594/Personas/PersonaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonaService"
                contract="PersonaService.IPersonaService" name="BasicHttpBinding_IPersonaService" />
        </client>
    </system.serviceModel>
</configuration>