<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMaestroService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1594/Maestros/MaestroService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaestroService"
                contract="MaestroService.IMaestroService" name="BasicHttpBinding_IMaestroService" />
        </client>
    </system.serviceModel>
</configuration>